# Copy this yaml file to mysite/_config/apikey.yml.
# You need to set APIKey for using third party APIs, such as IP-Location API.
# 
# Details of APIKeys
# 
# IPInfoDB:
#   This is used for getting location of a user by using IP Address.
#   You can get the APIKey of this service from the url below for free.
#   http://ipinfodb.com/register.php
APIKey:
  IPInfoDB: foobarhogehoge
